.service__inner{
    display: flex;
    margin-left: 0;
}
.service__info{
    margin-top: 150px;
    margin-left: 0;
}
.service__info h2{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.service__info p{
    margin-top: 30px;
    width: 380px;
    color: #666666;
}
.service__market{
    display: flex;
    align-items: center;
}
.service__market1 h5{
    margin-top: 20px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
.service__market1 p{
    margin-top: 0px;
    margin-left: 15px;
    width: 415px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.service__design{
    display: flex;
    align-items: center;
}
.service__design1 h5{
    margin-top: 20px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
.service__design1 p{
    margin-top: 0px;
    margin-left: 15px;
    width: 415px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.service__production{
    display: flex;
    align-items: center;
}
.service__production1 h5{
    margin-top: 20px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
.service__production1 p{
    margin-top: 0px;
    margin-left: 15px;
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.service__customers{
    display: flex;
    align-items: center;
}
.service__customers1 h5{
    margin-left: 15px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
.service__customers1 p{
    margin-top: 0px;
    margin-left: 15px;
    width: 415px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}





.service__banner{
    margin-top: 90px;
    height: 625px;
    margin-left: 60px;
}